<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Pool Tool</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<div th:replace="~{fragments/theme :: theme}"></div>

<header th:replace="~{fragments/header :: header}"></header>

<main>
    <svg th:replace="~{fragments/symbols :: symbols}"></svg>

    <div class="py-2 rounded bg-body-tertiary">
        <div class="container-fluid">
<!--
            <h3>Workloads</h3>
            <hr>
-->

            <div class="alert alert-warning align-items-center alert-dismissible fade show" role="alert"
                 th:if="${#lists.size(#fields.errors('workloadForm.*')) > 0}">
                <h4 class="alert-heading">
                    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:" width="1em" height="1em">
                        <use xlink:href="#exclamation-triangle-fill"/>
                    </svg>
                    There are errors
                </h4>
                <p>Please correct the following issues:</p>
                <hr>
                <ul>
                    <li th:each="err : ${#fields.errors('workloadForm.*')}" th:text="${err}"/>
                </ul>
            </div>

            <div class="alert alert-info align-items-center alert-dismissible fade show" role="alert"
                 th:if="${#lists.size(workloadForm.slots) == 0}">
                <h4 class="alert-heading">
                    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:" width="1em" height="1em">
                        <use xlink:href="#exclamation-triangle-fill"/>
                    </svg>
                    No datasource available
                </h4>
                <p>First you need to pin a datasource configuration to a slot in the <a th:href="@{/editor}">Editor</a>.</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="table-responsive-xl">
                <form th:action="@{/workload}" th:object="${workloadForm}" method="post" id="filterForm">
                    <div class="hstack gap-3">
                        <div class="col-auto">
<!--                            th:attr="disabled=${#lists.size(workloadForm.slots) == 0}" -->
                            <button
                                    class="btn btn-sm btn-primary me-md-0"
                                    type="button"
                                    data-bs-toggle="modal"
                                    data-bs-target="#addModal">Add
                            </button>
                            <button class="btn btn-sm btn-warning" type="button"
                                    data-bs-toggle="modal" data-bs-target="#confirmCancelAllModal">Cancel
                            </button>
                            <button class="btn btn-sm btn-danger" type="button"
                                    data-bs-toggle="modal" data-bs-target="#confirmDeleteAllModal">Delete
                            </button>
                        </div>
                    </div>
                </form>

                <p th:if="${#lists.size(workloadPage.getContent()) == 0}" class="badge text-bg-warning mt-3">No workloads found.</p>

                <table class="table table-striped table-bordered table-hover table-sm caption-top"
                       th:if="${#lists.size(workloadPage.getContent()) > 0}">
                    <caption
                            th:text="${'Total ' + workloadPage.getTotalElements() + ' items'}"></caption>
                    <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Pool</th>
                        <th>Remaining</th>
                        <th>P90</th>
                        <th>P99</th>
                        <th>P99.9</th>
                        <th>TpS</th>
                        <th>TpM</th>
                        <th>Success</th>
                        <th>Transient</th>
                        <th>Non-Transient</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="workload : ${workloadPage.content}" th:id="${'row-' + workload.id}">
                        <td th:text="${workload.id}"></td>
                        <td>
                            <a th:href="@{/workload/{id}(id=${workload.id})}" th:text="${workload.title}"></a>
                        </td>
                        <td th:text="${workload.poolName}" class="pool-name"></td>
                        <td th:text="${workload.remainingTime}" class="remaining-time"></td>
                        <td th:text="${workload.metrics.p90}" class="p90"></td>
                        <td th:text="${workload.metrics.p99}" class="p99"></td>
                        <td th:text="${workload.metrics.p999}" class="p999"></td>
                        <td th:text="${#numbers.formatDecimal(workload.metrics.opsPerSec,1,1)}"
                            class="opsPerSec"></td>
                        <td th:text="${#numbers.formatDecimal(workload.metrics.opsPerMin,1,1)}"
                            class="opsPerMin"></td>
                        <td th:text="${workload.metrics.success}" class="success"></td>
                        <td th:text="${workload.metrics.transientFail}" class="transientFail"></td>
                        <td th:text="${workload.metrics.nonTransientFail}" class="nonTransientFail"></td>
                        <td>
                            <span class="badge status" th:classappend="${workload.status.badge}"
                                  th:text="${workload.status}"></span>
                        </td>

                        <td class="text-center py-1">
                            <a th:href="@{/workload/cancel/{id}(id=${workload.id})}"
                               th:if="${workload.isRunning()}"
                               class="btn btn-xs btn-space btn-outline-primary">Cancel</a>
                            <a th:href="@{/workload/delete/{id}(id=${workload.id})}"
                               th:if="${!workload.isRunning()}"
                               class="btn btn-xs btn-space btn-outline-secondary">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr id="aggregated-metrics">
                        <th>Avg / &Sigma;</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th th:text="${#numbers.formatDecimal(aggregatedMetrics.p90,1,1)}" class="p90">0</th>
                        <th th:text="${#numbers.formatDecimal(aggregatedMetrics.p99,1,1)}" class="p99">0</th>
                        <th th:text="${#numbers.formatDecimal(aggregatedMetrics.p999,1,1)}" class="p999">0</th>
                        <th th:text="${#numbers.formatDecimal(aggregatedMetrics.opsPerSec,1,1)}" class="opsPerSec">0</th>
                        <th th:text="${#numbers.formatDecimal(aggregatedMetrics.opsPerMin,1,1)}" class="opsPerMin">0</th>
                        <th th:text="${aggregatedMetrics.success}" class="success">0</th>
                        <th th:text="${aggregatedMetrics.transientFail}" class="transientFail">0</th>
                        <th th:text="${aggregatedMetrics.nonTransientFail}" class="nonTransientFail">0</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </tfoot>
                </table>

                <div th:if="${#lists.size(workloadPage.getContent()) > 0}">
                    <nav th:replace="~{fragments/paging-banner :: paging-banner(${workloadPage})}"></nav>
                </div>
            </div>
        </div>
    </div>
    <div class="thick-divider"></div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<!-- ########## -->
<!-- Modals -->
<!-- ########## -->

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
    <form th:action="@{/workload}" th:object="${workloadForm}" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Start Workload</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="workload-type" class="form-label">Type of workload:</label>
                        <select th:field="*{workloadType}" id="workload-type" class="form-select"
                                aria-describedby="helpBlock">
                            <option th:each="wt : ${T(io.cockroachdb.pooltool.workload.WorkloadType).values()}"
                                    th:value="${wt}" th:text="${wt.displayValue + ' (' + wt.description + ')'}"></option>
                        </select>
                        <div id="helpBlock" class="form-text">
                            Specifies the type of workload to run in separate connection threads for a given duration
                            and with optional delays before closing connection.
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <input th:field="*{count}"
                               id="workload-range"
                               type="number" class="form-control"
                               min="1" max="512"
                               required>
                        <label for="workload-range" class="form-label">Number of threads (<code>int</code>):</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input th:field="*{duration}"
                               th:value="${duration}"
                               id="workload-duration"
                               type="number" class="form-control"
                               name="Duration"
                               required>
                        <label for="workload-duration" class="form-label">Runtime duration  (<code>seconds</code>):</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input th:field="*{probability}"
                               th:value="${probability}"
                               type="number" class="form-control"
                               id="probability" placeholder="0">
                        <label for="probability">Delay probability (0-1.0) (<code>decimal</code>):</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input th:field="*{waitTime}"
                               th:value="${waitTime}"
                               type="number" class="form-control"
                               id="pause" placeholder="150">
                        <label for="pause">Delay before closing a connection (<code>seconds</code>):</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input th:field="*{waitTimeVariation}"
                               th:value="${waitTimeVariation}"
                               type="number" class="form-control"
                               id="pauseVariation" placeholder="150">
                        <label for="pauseVariation">Variation of time delay (<code>seconds</code>):</label>
                    </div>

                    <div class="mb-3">
                        <div class="col-auto">
                            <label class="col-form-label">Pinned datasource slot:</label>
                        </div>

                        <div class="btn-group" role="group">
                            <div th:each="s: ${workloadForm.slots}">
                                <input class="btn-check" type="radio" autocomplete="off"
                                       th:field="*{slot}"
                                       th:value="${s.name()}">
                                <label th:for="${#ids.prev('slot')}"
                                       th:class="${s.getClassName()}"
                                       th:text="${s.displayName}"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" name="action" value="add"
                            class="btn btn-primary">Start</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="confirmCancelAllModal" tabindex="-1" role="dialog">
    <form th:action="@{/workload/cancelAll}" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cancel Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismi ss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to cancel all workloads?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-warning">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="confirmDeleteAllModal" tabindex="-1" role="dialog">
    <form th:action="@{/workload/deleteAll}" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete all non-running workloads?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.13/jquery-ui.js"></script>
<script src="https://code.jquery.com/color/jquery.color-2.2.0.js"></script>

<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
<script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

<script type="importmap">
    {
        "imports": {
            "chart.js": "https://cdn.jsdelivr.net/npm/chart.js@4.5.0/dist/chart.umd.min.js"
        }
    }
</script>

<script th:src="@{/js/color-modes.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/workload.js}"></script>

</body>
</html>

